<%- include('partials/header') %>

<h1>HOME</h1>
<p> <%= p1 %> </p>
<% comps.forEach(post => { %>
  <h1> <%= post.title.toUpperCase(); %> </h1>
  <p> 
    <%= post.body.substring(0,100) + '...';%> 
    <a href="/posts/<%= post.title; %>"> 
      Read more
    </a>
  </p>
<% }); %>

<%- include('partials/footer') %>